<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.shop.api.area.mapper.AreaMapper">
	<select id="areaList" parameterType="int" resultType="com.fh.shop.api.area.po.Area">
			select id,areaName,fatherId from t_area where fatherId=#{id}
	</select>
</mapper>
