<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

<!-- 对项目中的所有类进行扫描以完成Bean创建并进行自动注入。
           支持 @Controller、@Service 以及 @Repository 和 @Component -->
           
	<!-- 扫描项目中com.fh.shop.controller包下所有的类，从而使类中的@Controller注解生效 -->
    <context:component-scan base-package="com.fh.shop.api.*.controller"/>
	<mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
    <bean id="appAspect" class="com.fh.shop.api.util.Securitysection">
    </bean>

    <aop:config>
        <aop:aspect ref="appAspect">
            <aop:pointcut expression="execution(* com.fh.shop.api.*.controller.*..*(..))" id="poinCut"/>
            <aop:around method="doSecurityApi" pointcut-ref="poinCut"/>
        </aop:aspect>
    </aop:config>


    <!--swagger所需配置-->
    <bean class="com.fh.shop.api.util.SwaggerConfig"></bean>
    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>
</beans>